.clear:after{
  clear: both;
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; 
  }
  
*{
	margin: 0;
	padding: 0;
	font-style: normal;
	text-decoration: none;
	list-style: none;
}
header {
  width: 1200px;
  margin: 0 auto;
  height: 30px;
  margin-bottom: 10px;
  background: white; }

#header-left {
  float: left; }

#header-right {
  float: right; }

#header-left li {
  float: left;
  padding: 0 8px; }

#header-right li {
  float: left;
  padding: 0 8px; }

header > #header-left > li > a:hover {
  color: red; }

header > #header-right > li > a:hover {
  color: red; }

header > #header-left > li > a {
  color: #a4a4a4;
  cursor: pointer;
  line-height: 30px;
  font-size: 12px; }

header > #header-right > li > a {
  color: #a4a4a4;
  cursor: pointer;
  line-height: 30px;
  font-size: 12px; }

#boder {
  border-right: 1px solid #ededed;
  height: 10px;
  margin-top: 10px;
  float: left; }

#shopcar {
  width: 10px;
  height: 30px;
  background: url(../images/icon-common.png) no-repeat 8px 8px; }

#car {
  float: left;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
  border-color: transparent;
  border-color: transparent; }

#header-right_li_div {
  width: 400px;
  height: 300px;
  border: 1px solid #ededed;
  position: absolute;
  right: -1px;
  top: 29px;
  display: none;
  background: white;
  z-index: 10000000; }

#car a {
  color: #a4a4a4;
  cursor: pointer;
  line-height: 30px;
  font-size: 12px; }

#car:hover #header-right_li_div {
  display: block; }

#car:hover {
  border: 1px solid #EDEDED;
  border-bottom: none; }

#car:hover li a {
  color: red; }

#code {
  position: relative;
  border: 1px solid transparent;
  border-color: transparent;
  border-color: transparent;
  margin-right: 30px; }

.triangle-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #999;
  float: right;
  margin-left: 5px;
  margin-top: 10px; }

.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #999;
  float: right;
  margin-left: 5px;
  margin-top: 10px; }

#code:hover #header-left_li_div {
  display: block; }

#code:hover {
  border: 1px solid #EDEDED;
  border-bottom: none; }

#header-left_li_div {
  border: 1px solid #ededed;
  position: absolute;
  left: -84px;
  top: 29px;
  display: none;
  background: white;
  z-index: 1000000; }

#dropdown-more {
  width: 144px;
  padding: 9px 9px 10px 9px;
  text-align: center;
  line-height: 32px; }

#dropdown-more dl {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 5px; }

#dropdown-more dl dt {
  display: block; }

#dropdown-more a {
  font-size: 12px;
  color: #3a3a3a; }

#dropdown-more a:hover {
  color: red; }

#layout_left,#layout_right{
	margin-bottom: 8px;
}
#dropdown-more #ig {
  margin-top: 21px;
  color: #717171;
  font-size: 12px; }

#layout {
  width: 1200px;
  margin: 0 auto; }

#layout_left {
  float: left; }

.logoimg {
  position: relative;
  float: left;
  margin-right: 40px;
  width: 240px;
  height: 50px;
  z-index: 99999; }

.logoimg a {
  float: left; }

.naver {
  float: left; }

#naver_list li {
  float: left;
  margin-right: 20px; }

#naver_list li a {
  font-size: 16px;
  color: #3A3A3A;
  line-height: 50px;
  padding-bottom: 8px; }

#naver_list li a.hover {
  color: #ca141d;
  border-bottom: 2px solid red; }

#input {
  margin-top: 10px;
  width: 330px;
  height: 30px;
  float: right;
  border-bottom: 1px solid #ddd;
  position: relative; }

.submit {
  background: url(../images/icon-common.png) no-repeat 8px -20px;
  width: 30px;
  height: 30px;
  border: 0;
  outline: none;
  float: left;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer; }

.text {
  width: 300px;
  outline: none;
  border: 0;
  float: left;
  position: absolute;
  right: 30px;
  top: 10px; }

.huawei a {
  position: absolute;
  right: 100px;
  font-size: 12px;
  background: #f5f5f5;
  padding: 2px 4px 2px 4px;
  color: #a4a4a4;
  margin-right: 10px;
  margin-top: 5px; }

.rongyao a {
  position: absolute;
  right: 40px;
  font-size: 12px;
  background: #f5f5f5;
  padding: 2px 4px 2px 4px;
  color: #a4a4a4;
  margin-right: 10px;
  margin-top: 5px; }

.huawei:hover a {
  color: #CA141D; }

.rongyao:hover a {
  color: #CA141D; }

#somebox{
	width: 100%;
	height: 100%;
	border-top: 3px solid #CCCCCC;
}
#some{
	width: 1200px;
	margin: 0 auto;
}#someone{
	margin-top: 10px;
}
#someone a,#someone span{
	
	font-size: 12px;
	color: #666666;
	margin-right: 20px;
}
#sometwoimg{
	float: left;
	width: 450px;
	height: 450px;
	border: 1px solid #333333;
	margin-top: 10px;
	margin-right: 30px;
	position: relative;
}
.zhong img{
	float: left;
	width: 450px;
	height: 450px;
}
.xiao{
	position: absolute;
	bottom: -105px;
	overflow: hidden;
}
.xiao ul li{
	cursor: pointer;
	float: left;
	width: 60px;
	height: 60px;
	margin-right:15px;
	margin-left: 15px;
	box-sizing: border-box;
	background: #FFFFFF;
}
.xiao ul li:hover{
	border: 1px solid #CA141D;
}
.xiao img{
	width: 50px;
	height: 50px;
	margin-left: 5px;
	margin-top: 5px;
	
}
.zhong{
	overflow: hidden;
	width: 450px;
	height: 450px;
}
.da{
	width: 400px;
	height: 400px;
	border: 1px solid #333333;
	position: absolute;
	top:0px;
	left: 470px;
	z-index: 99999;
	overflow: hidden;
	display: none;
}
#fd{ 
	cursor:all-scroll;
  background: orange;
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}
.da img{
	float: left;
	width: 800px;
	height: 800px;
	position: absolute;
}
#sometwodiv{
	float: left;
	width: 700px;
  height: auto;
  margin-top: 10px;
}
#sometwodiv h1{
	font-size: 21px;
    max-height: 84px;
    overflow: hidden;
    margin-bottom: 10px;
    font-weight: normal;
}
#sometwodiv-biao span{
	margin-right: 15px;
   color: #333333;
    font-size: 14px;
    line-height: 20px;
}
#sometwodiv-biao .qq{
	 color: #ca141d;
}
#sometwodiv-jia{
	width: 700px;
	background: #f5f5f5;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
  
}
#sometwodiv-jia  label{
	 margin: 5px 0 10px 0;
	 display: block;
    width: 700px;
    font-size: 12px;
    text-indent: 10px;
    line-height: 30px;
}
#sometwodiv-jia .label1 em{
	   margin-left: 20px;
	    color: #ca141d;
	    margin-right: 5px;
}
#sometwodiv-jia .label1 span{
	display: inline-block;
	  color: #ca141d;
	  font-size: 24px;
	  line-height: 30px;
	  text-align: left;
}
#sometwodiv-jia .label2 em{
	  line-height: 18px;
    height: 18px;
    border: 1px solid #ca141d;
    padding: 0 6px;
    min-width: 24px;
    color: #ca141d;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 20px;
}
#sometwodiv-xi{
	border-bottom:1px solid #CCCCCC;
	height: 70px;
	margin-top: 10px;
}
#sometwodiv-xi p em{
	font-size: 12px;
	margin-left: 5px;
	margin-right: 20px;
	line-height: 35px;
}
#sometwodiv-xi p span{
	font-size: 12px;
	
}
#sometwodiv-xi p i{
	font-size: 12px;
	margin-right: 20px;
	padding-right:20px;
	border-right: 1px solid #CCCCCC;
}
#sometwodiv-xuan label{
	  font-size: 12px;
	 margin-left: 5px;
     width: 85px;
    line-height: 40px;
    margin-bottom: 10px;
    
}
.label3{
	position: absolute;
}
.someimg a{
	display: inline-block;
  position: relative;
  border: 1px solid #CCCCCC;
  width: 95px;
  height: 40px;
  margin-left: 10px;
}
.someimg a img{
	width: 30px;
	display: inline-block;
	position: absolute;
	left: 10px;
	top:5px
}
.someimg span p{
	display: inline-block;
	 color: #333333;
	 font-size: 12px;
	 position: absolute;
	 right: 20px;
	 top: 10px;
}
.someimg>div{
	margin-left: 70px;
}
.someimg{
	margin-top: 10px;
	height: 40px;
	position: relative;
}
.someban>div{
	display: inline-block;
	margin-left: 22px;
	margin-top: 10px;
}
.someban a{
	display: inline-block;
	width: 128px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	border: 1px solid #CCCCCC;
	padding:0 10px 0 10px;
	color: #333333;
}
.somecan>div{
	display: inline-block;
	margin-left: 22px;
	margin-top: 10px;
}
.somecan a{
	display: inline-block;
	width: 80px;
	
	line-height: 30px;
	font-size: 12px;
	border: 1px solid #CCCCCC;
	padding:0 10px 0 10px;
	color: #333333;
}
.somebao>div{
	display: inline-block;
	margin-left: 22px;
	margin-top: 10px;
}
.somebao a{
	display: inline-block;
	width: 80px;
	line-height: 30px;
	font-size: 12px;
	border: 1px solid #CCCCCC;
	padding:0 10px 0 10px;
	color: #333333;
}
.someyi>div{
	display: inline-block;
	color: #CA141D;
	font-size: 12px;
	margin-left: 10px;
}
#somebtn{
	margin-left: 5px;
	position: relative;
	height: 48px;
	width: auto;
}
.btnleft input{
	outline: none;
	border: 0;
	width: 46px;
	height: 46px;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	top:2px;
	font-size: 20px;
	text-align: center;
}
.btnleft p{
	width: 23px;
	height: 46px;
	display: inline-block;
	position: absolute;
	left: 45px;
	top:2px
}
.btnleft p span{
	display: block;
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 20px;
	box-sizing: border-box;
	border: 1px solid #CCCCCC;
	border-left: none;
	cursor: pointer;
	font-weight: 600;
	color: #CCCCCC;
}
.btnright{
	position: absolute;
	left: 100px;
	top: 2px;
	height: 48px;
}
.btnright a{
	display: inline-block;
	width: 172px;
	height: 46px;
	line-height: 46px;
	margin-right: 10px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	border: 1px solid #CCCCCC;
}
.btnright a:nth-of-type(1){
	background:#fc600c; 
}
.btnright a:nth-of-type(2){
	background:#CA151D; 
}
.dixian{
	width: 100%;
	height: 10px;
	border-top: 2px solid #666666;
	margin-top: 30px;
}
.ttd{
	width: auto;
	height: 600px;
	min-width: 1400px;
	margin-top: 30px;
	display: block;
}

